.characterContainer {
  perspective: 1200px;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.characterWrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.characterImage {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: fill;
  image-rendering: auto;
} 