.characterContainer {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
}

.characterWrapper {
  position: relative;
  width: 100%;
  margin: -12vw auto auto auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.characterImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
} 

@media (max-width: 1750px) {
  .characterWrapper {
    margin-top: -10vw;
  }
}

@media (max-width: 1750px) {
  .characterWrapper {
    margin-top: -6vw;
  }
}

@media (max-width: 1200px) {
  .characterWrapper {
    margin-top: -10vw;
  }
}

@media (max-width: 768px) {
  .characterWrapper {
    margin-top: -8vw;
  }
}

@media (max-width: 450px) {
  .characterContainer > *:first-child {
    margin-top: calc(100vh - 85vh);
  }
}