.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.title {
    font-family: 'Clash Display', sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px;
}

.cardsContainer {
  position: absolute;
  display: flex;
  gap: 2%;
  width: 1439px;
  flex-wrap: nowrap;
  justify-content: center;
}

.cardWrapper {
    perspective: 1200px;
    width: 239px;
    height: 300px;
    transform: rotate(21deg);
    border-radius: 50px;
}

.cardWrapperMiddle {
    transform: rotate(-21deg) !important;
}

.card {
  border: 1px solid;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  will-change: transform;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.cardContent {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.gradientOverlay {
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: 0;
  height: 86px;
  background: linear-gradient(241.332deg, rgb(138, 108, 255) 0%, rgb(82, 64, 153) 100%);
}

.textContainer {
  position: absolute;
  bottom: 10px;
  left: 14px;
  z-index: 2;
}

.stepNumber {
  font-family: "Clash Display", sans-serif;
  font-size: 16.73px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: left;
}

.stepTitle {
  font-family: "Clash Display", sans-serif;
  font-size: 21.39px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.iconContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.iconContainer:first-child {
  display: flex;
  gap: 8px;
}

.arrow {
  width: 133px;
  height: 134px;
  position: relative;
  z-index: 1;
  transform: translateY(100px);
  top: 91px;
}

.arrow2 {
  width: 133px;
  height: 134px;
  position: relative;
  z-index: 1;
  transform: translateY(100px);
  bottom: 120px;
}

.metamaskContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(97%, 65%);
}

.coinbaseContainer {
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(366%, 39%);
}

.ethereumContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(46%, 36%);
}

.uniswapContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(46%, 36%);
}

.metamaskIcon {
  background: white;
  width: 70px;
  height: 70px;
  padding: 11px;
  border-radius: 27%;
  transform: rotate(-20deg);
  box-shadow: 0px 0px 10px 0px rgb(250, 115, 62);
}

.coinbaseIcon {
  background: white;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 27%;
  box-shadow: 0px 0px 10px 0px rgb(62, 121, 250);
}

.ethereumIcon {
  background: white;
  width: 100px;
  height: 100px;
  padding: 11px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 0px rgb(127 99 234);
}

.uniswapIcon {
  background: white;
  width: 100px;
  height: 100px;
  padding: 11px;
  border-radius: 27%;
}

.electrumContainer {
  position: absolute;
  bottom: 29%;
  left: 84%;
  transform: translate(35%, 323%);
}

.electrumIcon {
  background: white;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 27%;
  box-shadow: 0px 0px 5px 0px rgb(0, 195, 255);
}

@media (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    transform: none !important;
  }
  
  .iconContainer {
    top: 15px;
    left: 15px;
  }
  
  .icon {
    width: 28px;
    height: 28px;
  }
  
  .arrow {
    transform: rotate(90deg) translateX(-50px);
    margin: -30px 0;
  }
  
  .uniswapContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
