.audioContainer {
  position: fixed;
  bottom: 60px;
  right: 70px;
  z-index: 1000;
  width: 150px;
  height: 150px;
  background: rgb(124, 97, 230);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.audioContainer:hover {
  opacity: 0.9;
} 