.carouselContainer {
  position: relative;
  width: 100vw;
  height: 120px;
}

.staticBand,
.movingBand {
  position: absolute;
  width: 120%; /* Cambiado de 100% a 120% */
  left: -10%; /* Nuevo */
  height: auto;
  overflow: hidden;
}

.staticBand {
  top: 0;
  background-color: rgba(138, 108, 255, 0.3); /* Color morado más oscuro */
  transform: rotate(-2deg);
}

.movingBand {
  top: 30px;
  transform: rotate(9deg);
  --border-bottom-width: 0.5px;
  --border-color: #000000;
  --border-left-width: 0.5px;
  --border-right-width: 0.5px;
  --border-style: solid;
  --border-top-width: 0.5px;
  backdrop-filter: blur(21.85px);
  background-color: rgba(255, 255, 255, 0.1);
}

.carouselSection {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px 10px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carouselList {
  display: flex;
  width: max-content;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Solo animar la banda en movimiento */
.movingBand .carouselList {
  animation: scroll 15s linear infinite;
}

.carouselItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.circle {
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
}

.text {
  font-family: 'Clash Display', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40.2px;
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .carouselContainer {
    height: 100px;
  }

  .staticBand,
  .movingBand {
    height: auto;
  }

  .movingBand {
    top: 25px;
  }

  .text {
    font-size: 20px;
  }
} 